<div class="wrapper">
<% if user_signed_in? %>
  <%= link_to "新しいワークアウトを作成", new_workout_path, class: "new-work-button" %>
<% end %>

<ul>
  <% @workouts.each do |workout| %>
    <li>
      <%= link_to "#{workout.date.strftime('%Y年%m月%d日')} (#{japanese_wday(workout.date)})", workout_path(workout) %>
      <span>登録者: <%= workout.user.nickname %></span>
      <%# ↑0がつくコード %>
      <%# <%= link_to workout.date.strftime("%Y年%-m月%-d日"), workout_path(workout) %>
    <% if user_signed_in? && current_user == workout.user %>
      <%= link_to '編集する', edit_workout_path(workout) %>
      <%= link_to '削除する', workout_path(workout), data: { turbo_method: :delete, turbo: true, confirm: '削除してもよろしいですか？' } %>
    <% end %>
    </li>
  <% end %>
</ul>
</div>