<div class="wrapper">
  <% if user_signed_in? %>
    <%= link_to "新しいワークアウトを作成", new_workout_path, class: "new-work-button" %>
  <% end %>

  <div class="workout-list">
    <% @workouts.each do |workout| %>
      <div class="workout-card">
        <div class="workout-date">
          <%= link_to "#{workout.date.strftime('%Y年%m月%d日')} (#{japanese_wday(workout.date)})", workout_path(workout) %>
        </div>
        <div class="workout-details">
          <span>登録者: <%= workout.user.nickname %></span>
          <% if user_signed_in? && current_user == workout.user %>
            <div class="workout-actions">
              <%= link_to edit_workout_path(workout), class: "edit-link" do %>
                <i class="fas fa-edit"></i> 編集する
              <% end %>
              <%= link_to workout_path(workout), data: { turbo_method: :delete, turbo: true, confirm: '削除してもよろしいですか？' }, class: "delete-link" do %>
                <i class="fas fa-trash"></i> 削除する
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>