<%= form_with(model: @workout, local: true) do |form| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
      <ul>
        <% @workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>トレーニングを追加</h2>
    <div class="nested-fields">
    <%# "field" %>
    <div>
      <%= form.label :date, "トレーニングをした日" %>
      <%= form.date_field :date %>
    </div>
    <div>
      <%= form.label :image, "体の変化を記録する画像" %>
      <%= form.file_field :image %>
    </div>
  </div>

  <div id="exercises">
    <%= form.fields_for :exercises do |exercise_form| %>
      <%= render 'exercise_fields', f: exercise_form %>
    <% end %>
  </div>

    <!-- hidden fields to include year and month params -->
  <%= form.hidden_field :year, value: params[:year] %>
  <%= form.hidden_field :month, value: params[:month] %>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
  
  
<% end %>
<div>
  <%# <%= link_to "トレーニングを追加する", new_workout_path(exercise_count: (@exercise_count || @workout.exercises.size) + 1), method: :get %>
</div>
<%= link_to "TOPページに戻る", root_path %>