<div class="wrapper">
  <div class="workout-top">
    <h1><%= @workout.date.strftime("%Y年%m月%d日") %>（<%= %w(日 月 火 水 木 金 土)[@workout.date.wday] %>）のトレーニング内容が記録されました(^_^)v!</h1>
  </div>
  
  <% @exercises.each do |exercise| %>
    <div class="nested-fields exercise-item">
      <div class="exercise-field">
        <strong>トレーニング:</strong>
        <span><%= exercise.name %></span>
      </div>
      <div class="exercise-field">
        <strong>負荷:</strong>
        <span><%= exercise.weight %> kg or km/h（ジョギングの場合）</span>
      </div>
      <div class="exercise-field">
        <strong>回数/距離:</strong>
        <span><%= exercise.reps %> 回 or km（ジョギングの場合）</span>
      </div>
      <div class="exercise-field">
        <strong>セット数:</strong>
        <span><%= exercise.sets %> セット</span>
      </div>
      <div class="exercise-field">
        <strong>所要時間:</strong>
        <span><%= exercise.duration %> 分</span>
      </div>
    </div>
  <% end %>

  <% if @workout.image.attached? %>
    <div class="show-image">
      <%= image_tag @workout.image %>
    </div>
  <% end %>

  <% if user_signed_in? && current_user == @workout.user %>
    <div class="login-button">
      <%= link_to 'トレーニング内容を編集する', edit_workout_path(@workout) %>
    </div>
  <% end %>
  <%= link_to "▶TOPページに戻る", root_path, class: "return-link" %>
  
</div>