<div class="contents row">
  <div class="container">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <h2 class="form-title">新規登録</h2>
      </div>
      <div class="field-u">
        <div class="label-container">
          <%= f.label :nickname, "ニックネーム (6文字までOK)" %>
        </div>
        <div class="field-container">
          <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
        </div>
      </div>

      <div class="field-u">
        <div class="label-container">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div class="field-container">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="field-u">
        <div class="label-container">
          <%= f.label :password, "パスワード (最低でも6文字以上入力)" %>
        </div>
        <div class="field-container">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <div class="field-u">
        <div class="label-container">
          <%= f.label :password_confirmation, "パスワード確認" %>
        </div>
        <div class="field-container">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
